body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background:turquoise;
}

.btn {
  
    background-color:red; 
    border: none;
    color: white;
    padding: 11px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: .3em;
    margin-top: 25px;
}

h1 {
  margin: 0;
  margin-bottom: 35px;
}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}

select {
  margin-left: .5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}